<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item><span style="font-size: 30px">ICON</span></el-menu-item>
                    <el-menu-item index="1">Home</el-menu-item>
                    <el-menu-item index="2">Publication</el-menu-item>
                    <el-menu-item index="3">Introduction</el-menu-item>
                </el-menu>
            </el-header>
            <el-main>
                <el-row>
                    <el-col :span="12" :offset="6">
                        <div v-if="activeIndex==1">
                            <el-row :gutter="20">
                                <el-col :span="12">
                                    <el-image
                                            style="width: 100px; height: 100px"
                                            src="assets/img/people/032397611.jpg"
                                            fit="fit"></el-image>
                                </el-col>
                                <el-col :span="12">

                                </el-col>
                            </el-row>
                        </div>
                        <div v-if="activeIndex==2">
                            <el-row>
                                Publication
                            </el-row>
                        </div>
                        <div v-if="activeIndex==3">
                            <el-row>
                                Introduction
                            </el-row>
                        </div>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeIndex: 1,
                fits: ['fill', 'contain', 'cover', 'none', 'scale-down'],
            }
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key)
                this.activeIndex = key;
            }
        }
    })
</script>
</html>
